<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <form th:action="@{/students/edit/{uid}(uid=${students.uid})}"  th:object="${students}" method="post">
        <input type="text" th:field="*{name}" placeholder="Name">
        <input type="number" th:field="*{weight}" placeholder="Weight">
        <input type="number" th:field="*{height}" placeholder="Height">
        <input type="text" th:field="*{hairColor}" placeholder="Hair Color">
        <input type="number" th:field="*{gpa}" placeholder="GPA">
        <input type="submit" value="Submit">
   </form>
</body>
</html>